<div class="container container_padding clearfix">
  <div class="col-1 about">
    <h3 class="title">About</h3>
    <p>Hello I'm Andrew and I am a developer currently living in <strong>Tuscaloosa, Alabama.</strong></p>

    <p>Are you hiring <strong>Junior Developers</strong>? I would love to <%= link_to "discuss how I can fit into your team", new_contact_path %>! I am passionate about learning and am looking for opportunities to expand my skills. My resume can be found <%= link_to "here.", "/resume.pdf" %></p>
    <p>By day I'm an Warehouse Manager and a Home Theater & Networking Specialist for a small business in Tuscaloosa.
      By night I'm working on webapps that will help people to get things done faster, or brushing up on my system administration skills.</p>
    <p>You can find me on <a href="https://twitter.com/AndrewFomera">Twitter</a> or on other social media sites by looking up Andrew Fomera.
      If you like checking out code you can find me on <%= link_to "GitHub", "https://github.com/king601" %>. </p>
  </div>
  <div class="col-2 homepage_content">
    <h3 class="title">Recent Blog Posts</h3>

    <% @posts.each do |post| %>
			<h4><%= link_to post.title, post %></h4>
			<p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
		<% end %>
    <% if @posts.empty? %>
      <p>Sorry no posts were found. Check back soon!</p>
    <% else %>
      <%= link_to "View All Posts", posts_path, class: "btn bordered" %>
    <% end %>
  </div>
</div>
