<%= form_for(project, data: { behavior: "post-form" }) do |f| %>
  <div class="form-group">
    <% if project.thumbnail_image %>
      Current Thumbnail
      <%= image_tag(attachment_url(project, :thumbnail_image, :fill, 768, 180), class: 'img-fluid') %>
      <%= f.check_box :remove_thumbnail_image, class: "checkbox" %>
      <%= f.label :remove_thumbnail_image, class: "checkbox" %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label(:thumbnail) %>
    <%= f.attachment_field(:thumbnail_image, direct: true, class: "form-control") %>
    <%= error_message_on(f.object, :thumbnail) %>
  </div>

  <div class="form-group">
    <%= f.label(:title) %>
    <%= f.text_field(:title, class: "form-control") %>
    <%= error_message_on(f.object, :title) %>
  </div>

  <div class="form-group">
    <%= f.label(:description) %>
    <%= f.text_area(:description, class: "form-control", data: { behavior: "post-content" }) %>
    <%= error_message_on(f.object, :description) %>
  </div>

  <div class="form-group">
    <%= f.label(:link) %>
    <%= f.url_field(:link, class: "form-control") %>
    <%= error_message_on(f.object, :link) %>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-primary btn-block" %>
  </div>
<% end %>
</div>

<div class="my-3 hr-sect">Preview</div>

<div class="row mb-3">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div id="preview" data-behavior="post-preview">
        </div>
      </div>
    </div>
  </div>
</div>
