<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <%= @project.title %>
      </h1>
    </div>
  </div>
</section>

<div class="container container-content">
  <div class="columns">
    <div class="column">
      <% if @project.has_thumbnail_image? %>
        <%= image_tag(attachment_url(@project, :thumbnail_image, :fill, 768, 180)) %>
      <% end %>

      <%= markdown @project.description %>

      <% if user_signed_in? && current_user.admin? %>
        <nav class="level">
          <div class="level-left"></div> <!-- Do not remove this level-left -->
          <div class="level-right">
            <p class="level-item">
              <%= link_to "Edit Project", edit_project_path(@project),
                class: "button is-light" %>
              <%= link_to "Delete Project", project_path(@project),
                method: :delete, data: {
                  confirm: "Are you sure you want to delete #{@project.title}?"
                }, class: "button is-danger" %>
            </p>
          </div>
        </nav>
      <% end %>
    </div>
  </div>
</div>
