<%= form_for @post, data: {behavior: 'post-form'} do |f| %>
    <% if @post.errors.any? %>
        <h2><%= pluralize(@post.errors.count, "error") %> prevented this post from saving:</h2>
        <ul>
            <% @post.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    <% end %>

    <%= f.label :title %><br>
    <%= f.text_field :title %>

    <br>
    <br>

    <%= f.label :content, "Write your article here" %><br>
    <%= f.text_area :content, data: {behavior: 'post-content'} %>

    <br>
    <br>

    <%= f.submit "Publish", class: "btn border" %>
    <%= f.submit "Save as Draft" %>
<% end %>
<hr>
<h3>Preview</h3>

<div id="preview" data-behavior='post-preview'>
</div>
