<%= form_for(post, data: { behavior: "post-form" }) do |f| %>
  <div class="form-group">
    <%= f.label(:title) %>
    <%= f.text_field(:title, class: "form-control") %>
    <%= error_message_on(f.object, :title) %>
  </div>

  <div class="form-group">
    <%= f.label(:content) %>
    <%= f.text_area(:content, class: "form-control", data: { behavior: "post-content" }) %>
    <%= error_message_on(f.object, :content) %>
  </div>

  <div class="actions">
    <%= f.submit "Publish", class: "btn btn-primary" %>
    <%= f.submit "Save as Draft", class: "btn btn-secondary" %>
  </div>
<% end %>
</div>

<div class="my-5 hr-sect">Preview</div>

<div class="row">
  <div class="col-md-12">
    <div id="preview" data-behavior="post-preview">
    </div>
  </div>
</div>
