<header id="header" class="clearfix">
      <%= link_to "{AF}", root_path, class: "brand", title: 'Andrew Fomera' %>
      <nav>
        <%= link_to projects_path do %>
          <%= fa_icon "th", text: 'Projects' %>
        <% end %>
        <%= link_to posts_path do %>
          <%= fa_icon "rss", text: 'Blog' %>
        <% end %>
        <%= link_to new_contact_path do %>
          <%= fa_icon "envelope-o", text: 'Contact' %>
        <% end %>
        <% if user_signed_in? %>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <%= fa_icon "sign-out", text: 'Logout' %>
          <% end %>
        <% end %>
      </nav>
  </header>
