<nav class="navbar">
  <div class="navbar-brand">
    <%= link_to "{AF}", root_path, class: 'navbar-item' %>

    <a class="navbar-item is-hidden-desktop" href="https://github.com/king601" target="_blank">
      <span class="icon" style="color: #333;">
        <i class="fa fa-github"></i>
      </span>
    </a>

    <a class="navbar-item is-hidden-desktop" href="https://twitter.com/AndrewFomera" target="_blank">
      <span class="icon" style="color: #55acee;">
        <i class="fa fa-twitter"></i>
      </span>
    </a>

    <div class="navbar-burger burger" data-target="navbar-menu">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbar-menu" class="navbar-menu">
    <div class="navbar-end">
      <%= link_to projects_path, class: "navbar-item" do %>
        <%= fa_icon "th", text: ' Projects', class: 'emoji' %>
      <% end %>
      <%= link_to posts_path, class: "navbar-item"  do %>
        <%= fa_icon "rss", text: ' Blog', class: 'emoji'  %>
      <% end %>
      <%= link_to new_contact_path, class: "navbar-item"  do %>
        <%= fa_icon "envelope-o", text: ' Contact', class: 'emoji'  %>
      <% end %>
      <% if user_signed_in? %>
        <%= link_to destroy_user_session_path, method: :delete, class: 'navbar-item' do %>
          <%= fa_icon "sign-out", text: 'Logout' %>
        <% end %>
      <% end %>
    </div>
  </div>
</nav>
