<!DOCTYPE html>
<html>
<head>
  <title>AndrewFomera</title>
  <link href='//fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- Render Header -->
  <%= render 'layouts/header' %>
<!-- End of Header -->
<div>
  <% flash.each do |key, value| %>
    <div>
      <a href="#" data-dismiss="alert">×</a>
        <%= value %>
    </div>
  <% end %>
</div>
<%= yield %>

<!-- Render Footer -->
  <%= render 'layouts/footer' %>
<!-- End of Footer -->
</body>
</html>
