<!DOCTYPE html>
<html>
  <head>
    <title>Andrew Fomera - Software Engineer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Open Graph Info -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@AndrewFomera" />
    <% if content_for?(:title) %>
      <meta name="twitter:title" content="<%= yield :title %>" />
    <% end %>
    <% if content_for?(:meta_description) %>
      <meta name="twitter:description" content="<%= yield :meta_description %>" />
    <% end %>
    <meta name="twitter:creator" content="@AndrewFomera" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body class="<%= body_classes %>">
    <%= render('shared/navbar') %>
    <%= render('shared/flash/app') %>

    <div class="container">
      <%= yield %>
    </div>

    <%= render('shared/footer')%>
  </body>
</html>
