<!DOCTYPE html>
<html>
  <head>
    <title>Andrew Fomera - Software Engineer</title>
    <%= render("shared/meta-tags") %>

    <!-- Open Graph Info -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@AndrewFomera" />
    <% if content_for?(:title) %>
      <meta name="twitter:title" content="<%= yield :title %>" />
    <% end %>
    <% if content_for?(:meta_description) %>
      <meta name="twitter:description" content="<%= yield :meta_description %>" />
    <% end %>
    <meta name="twitter:creator" content="@AndrewFomera" />
  </head>

  <body class="<%= body_classes %>">
    <%= render('shared/navbar') %>
    <%= render('shared/flash/app') %>

    <%= yield %>

    <%= render('shared/footer')%>
  </body>
</html>
